div{
    display: flex;
    height: 400px;
    align-items: center;
    justify-content: center;
}
/* task1 */
.section_1{
    margin: auto;
  height: 180px;
  width: 350px;
 background-color: rgb(237, 147, 237);
 padding-bottom: 20px;
 display: flex;
 justify-content: center;
  align-items: center;

}
button {
    width: 200px;
    height: 50px;
    background-color:  rgb(237, 147, 237);
    color: white;
    margin-top: 50px;
    margin-left: 15px;
    border: none;
    border-radius: 10px;
     box-shadow: -5px -4px 0 0 black, 
    5px 4px 0 0 black;
     text-shadow: 2px 5px 2px black;

}
button:hover{
    box-shadow: 5px 4px 0 0 black inset, 
    -5px -4px 0 0 white;
    text-shadow: none;
  
  }
  /* task2 */
  .section_2{

  }
  img{
    margin-top: 200px;
    width: 200px;
    height: 220px;
    transition: 1s linear;
    display: flex;
    align-items: center;
  }
  p{
    margin-top: 10px;
    color: #18a64f;
    font-family: sans-serif;
    font-size: 10px;
  }
  img:hover{
    box-shadow: #18a64f;
    border-radius: 25px 25px 0 0;

  }
  .div_1:hover{
    border-radius: 25px;
    box-shadow: 2px 2px 8px green, -2px -2px 10px #18a64f ;
  
  }
  /* task3 */
  p{
    font-size: 140px;
    color: red;
    letter-spacing: 20px;
     animation: changeColor 0.5s linear infinite;
}
@keyframes changeColor{
    from{
      color: red;
    }
    to{
      color: white;
    }
  }
  /* task5 */
  header{
    background-color: rgb(9, 82, 56);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  li{
    display: inline-block;
    margin-left: 400px;
  }
  a{
    
        position: relative;
        display: inline-block;
        padding: 10px 20px;
        font-size: 30px;
        color: #fff;
        text-decoration: none;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); 
        transition: color 1s, text-shadow 1s;  
      }
a:hover{
    color: cyan; 
  text-shadow: 0 0 10px cyan, 0 0 20px cyan, 0 0 30px cyan, 0 0 40px cyan, 0 0 50px cyan, 0 0 60px cyan, 0 0 70px cyan;
}
/* task6 */